<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        .centered {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="centered">
        <h1>Welcome, Security Advisor!</h1>
    </div>
    <p>Noel: please, do your job or you're fired.</p>
    <p>IBRD: I swear if another Biohazard breach happens... we gonna make sure you will become a test subject.</p>
</body>
</html>
